{% macro gym_card(gym, current_user) %}
<div class="card">
    <div class="card-body">
    <h5 class="card-title">{{ gym.name }}</h5>
    <h6 class="card-subtitle mb-2 text-muted">{{ gym.address }}</h6>
    {% if current_user.is_authenticated %}
        {% if current_user.is_favorite_gym(gym) %}
        <a href="{{ url_for('gym.remove_favorite', gym_id=gym.id) }}" class="btn btn-warning">Remove from favorites</a>
        {% else %}
        <a href="{{ url_for('gym.add_favorite', gym_id=gym.id) }}" class="btn btn-outline-warning">Add to favorites</a>
        {% endif %}
        {% if current_user.id == gym.owner_id or current_user.id in gym.admins %}
        <a href="{{ url_for('gym.edit', gym_id=gym.id) }}" class="btn btn-outline-primary">Edit gym</a>
        {% endif %}
    {% endif %}
    <a href="{{ gym.website }}" class="card-link">Gym Website</a>
    <a href="{{ url_for('gym.show', gym_id=gym.id) }}" class="card-link">View gym details</a>
    </div>
</div>
{% endmacro %}


{% macro route_card(route, current_user) %}
<a href="{{ url_for('route.view', route_id=route.id) }}" style="text-decoration: none; color: inherit;">
    <div class="card mb-3" style="background-color: {{ route.color }};">
        <div class="card-body text-center">
            <h5 class="card-title" style="color: white; text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;">{{ route.name }}</h5>
            <p class="card-text" style="color: white; text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;">{{ route.grade }}</p>
        </div>
    </div>
</a>
{% endmacro %}



