{% extends 'base.html' %}

{% from 'climber/_macros.html' import user_card %}

{% block content %}

<div class="container">

   <h1>Find New Friends</h1>

    <form class="form-inline mb-4" method="GET" action="/profile/friends">
        <input class="form-control mr-sm-2" type="search" placeholder="Search for a user" aria-label="Search" name="name" value="{{ request.args.get('name', '') }}">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>

    {% for climber in climbers %}
        {{ user_card(current_user, climber) }}
    {% endfor %}

</div>

{% endblock %}
