{% extends 'base.html' %}

{% import 'climber/_macros.html' as macros %}

{% block content %}

<div class="container">

    {{ macros.profile_card(current_user) }}

    <div class="profile_gyms">
        <h1>Your Gyms</h1>
        {% for gym in current_user.get_favorite_gyms() %}
            {{ macros.gym_card(gym) }}
        {% endfor %}
        <button type="button" class="btn btn-primary">Find Gyms</button>
    </div>

    <div class="friends">
        <h1>Friends</h1>
        {% for friend in current_user.get_friends() %}
            {{ macros.friend_card(friend) }}
        {% endfor %}
        <a href="/profile/friends"><button type="button" class="btn btn-primary">Add Friend</button></a>
    </div>

    <div class="attempts">
        <h1>Attempts</h1>

        {% for att in attempts %}
        <div class="attempt bg-light">
            <h4>{{ att.route.name }}</h4>
            <h4>Completed: {{ att.success }}</h4>
            <h4>Date: {{ att.time }}</h4>
            <h4>Grade: {{ att.grade }}</h4>
        </div>
        {% endfor %}
    </div>

</div>

{% endblock %}
