{% extends 'base.html' %}

{% import 'climber/_macros.html' as macros %}

{% block content %}

<div class="container mt-5">

    <div class="row">
        <div class="col-lg-4">
            {{ macros.profile_card(current_user) }}
        </div>

        <div class="col-lg-8">
            <div class="row mb-4">
                <div class="col">
                    <h2>Your Gyms</h2>
                    {% for gym in current_user.get_favorite_gyms() %}
                        {{ macros.gym_card(gym) }}
                    {% endfor %}
                    <a type="button" class="btn btn-primary mt-2" href="{{url_for('gym.search')}}">Find Gyms</a>
                </div>
            </div>

            <div class="row mb-4">
                <div class="col">
                    <h2>Friends</h2>
                    {% for friend in current_user.get_friends() %}
                        {{ macros.friend_card(friend) }}
                    {% endfor %}
                    <a href="{{url_for('climber.friends')}}" class="btn btn-primary mt-2">Add Friend</a>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <h2>Attempts</h2>

                    {% for att in attempts %}
                        {{ macros.attempt_card(att) }}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

</div>

{% endblock %}
