{% from "_formhelpers.html" import render_field, render_errors %}

{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12 col-md-8 col-lg-6 mx-auto">
            <div class="card my-4">
                <div class="card-header text-center">
                    <h1>Add Attempt for {{ route.name }}</h1>
                </div>
                <div class="card-body">
                    <form method="POST">
                        {{ form.csrf_token }}

                        <div class="form-group mb-3">
                            {{ render_field(form.success) }}
                        </div>

                        <div class="form-group mb-3">
                            {{ render_field(form.grade) }}
                        </div>

                        {{ render_errors(errors) }}

                        <div class="form-group">
                            <button type="submit" class="btn btn-primary w-100">Add Attempt</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
